@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

:root {
}

header {
  background-color: red;
  color: white;
  font-family: "Balsamiq Sans", cursive;
}

main {
  height: 100vh;
}

.m-auto {
  margin: auto;
}

.btn-primary {
  background-color: red;
  color: white;
  border-color: red;
  border-radius: 100%;
  height: 55px;
  width: 55px;
}

.btn-primary:hover {
}
